/* تعيين التنسيقات الأساسية للجسم */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: clamp(14px, 2vw, 24px);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

/* تنسيق الحاوية الرئيسية */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}

/* تصميم الأقسام */
.section {
  border: 5px solid orange;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  width: calc(25% - 20px);
  height: 380px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* تنسيق الصور داخل الأقسام */
.section img {
  width: 80%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

/* تنسيق عناوين الأقسام */
.section h6 {
  font-size: 30px;
  margin: 10px 0;
}

/* إعدادات القوائم المنسدلة */
.dropdown {
  margin-top: 50px;
  position: relative;
}

.dropdown button {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 60%;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 4px rgba(210, 236, 16, 0.2);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown button:hover {
  background-color: #e69500;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #0c0cf4;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}


/* تصميم العنوان الرئيسي */
h2.section-title {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: 'Arial', sans-serif;
  font-size: clamp(20px, 2vw, 30px);
  color: black;
}

/* إعدادات للعرض على الشاشات الصغيرة */
@media (max-width: 768px) {
  .section {
      width: 100%;
  }
}